body{
    margin: -22px;
    display: inline-flex;
    
}
h1{
    padding: -15px;
}
hr{
    background-color: #33AF74;
    border: none;
    height: 1px;
}
img    {
    border-radius: 50%;
}
.nome{
    width:70vw;
    height: auto;
    background-color: rgb(2, 2, 2);
    text-align: left;
    padding: 30px;
    color: #33AF74;
    size: 0px;
    gap: 100px;
   
}
.soft{
    width:30vw;
    height: auto;
    background-color: #33AF74;
    text-align: center;
    gap: 100px;
    
}
.carta{
    width:30vw;
    height: auto;
    background-color: #33AF74;
    text-align: center;
    position: right;
    color: black;
    font-size: 27px;
}
.lol{
    width:70vw;
    height: auto;
    background-color: black;
    text-align: center;
    color:#33AF74 ;
    font-size: 30px;
}
.logos{
    display: inline-flex;
    gap: 100px;
}
