body{
    margin: -22px;
    display: inline-flex;
    
}
h1{
    padding: -15px;
}
hr{
    background-color: #33AF74;
    border: none;
    height: 1px;
}
img    {
    border-radius: 50%;
}
.nome{
    width:70vw;
    height: auto;
    background-color: rgb(2, 2, 2);
    text-align: left;
    padding: 30px;
    color:azure;
    size: 0px;
   
}
.soft{
    width:30vw;
    height: auto;
    background-color: #33AF74;
    text-align: center;
    
}
.carta{
    width:30vw;
    height: auto;
    background-color: #33AF74;
    text-align: center;
    position: right;
    
}
