body{
    margin: 0px;
    display: inline-flex;
    
}
h1{
    padding: -15px;
}
hr{
    background-color: #33AF74;
    border: none;
    height: 1px;
}
img{
    border-radius: 50%;
}

.carta{
    width:30vw;
    height: 115vh;
    background-color: #33AF74;
    text-align: center;
    position: right;
    color: black;
    font-size: 27px;
}
.lol{
    width:70vw;
    height: auto;
    background-color: black;
    text-align: center;
    color:#33AF74 ;
    font-size: 30px;
}
.logos{
    display: inline-flex;
    gap: 100px;
}